body{
  background: black;
  color: white;
}
.img {
  display: flex;
}

.wrap {
  margin-inline-start: 30px;
}

.header,
.header ul {
  display: flex;
  cursor: pointer;
  list-style: none;
}

.header ul {
  margin-block-start: 35px;
}

.header ul li {
  margin-inline-start: 30px;
}

.banner {
  position: relative;
}

.banner img {
  inline-size: 100%;
}

.banner .text {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 30px;
  color: white;
  font-size: 55px;
  font-weight: 700;
}

input{
  color: black;
}